# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite / Build
dist/
client/dist/
client/node_modules/
/client/.vite

# Logs
logs/
*.log

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac
.AppleDouble
.LSOverride

# Misc
coverage/
*.tgz

# Images added during development
client/public/raintree.png
